{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Julio Mendez</title>
	<link rel="icon" href="{% static '/images/logo.png' %}" type="image/icon type">
	<!-- tinyMCE  -->
	<link rel="stylesheet" type="text/css" href="{% static 'tinymce/css/prism.css' %}">

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     
	<link href="{% static '/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
	<!-- Barra de navegacion  -->
	<div class="navbar-fixed">
		<nav class="white" role="navigation">
		  <div class="nav-wrapper">
		    <div class="container">
		      <a id="logo-container" href="/" class="brand-logo">
		        <img width="55" src="{% static '/images/logo.png' %}">
		      </a>
		      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		      <ul class="right hide-on-med-and-down">
						<li>
							<a href="/" class="teal-text">
								<i class="material-icons right">home</i>Inicio
							</a>
						</li>
						<li>
							<a href="/projects" class="teal-text">
								<i class="material-icons right">perm_media</i>Proyectos
							</a>
						</li>
		      </ul>
		    </div>
		  </div>
		</nav>
	</div>

	<ul id="mobile-demo" class="sidenav sidenav-close" style="width:200px">
		<br>
		<li>
			<a href="/">
			<i class="material-icons icono">home</i>Inicio
			</a>
		</li>
		<li>
			<a href="/projects">
			<i class="material-icons icono">perm_media</i>Proyectos
			</a>
		</li>
	</ul>

	<div class="container section">
    <br>
    <p class="center titulos light">Proyecto</p>
    <h3 class="center titulos">{{proyecto.titulo}}</h3>
    <br><br>
    <p>{{proyecto.fecha_publicacion}}</p>
    <p class="aboutme">{{proyecto.contenido}}</p>
	</div>
  <!--  Scripts-->
  <script src="{% static '/js/init.js' %}"></script>
</body>
</html>